doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        block title
            title #{config.cnName}
        include common/head            
        script(type="text/javascript").
            window.param = {
                all: "#{param.all}",
                path: "#{param.path}"    
            }
        if ( !view )
            link(rel='stylesheet',type='text/css',href='#{base}/uploadifive/css/uploadifive.css')
            script(type='text/javascript',src='#{base}/uploadifive/js/jquery.uploadifive.min.js')
            script(type='text/javascript',src='#{base}/js/index.js?v=2')
        else
            script(type='text/javascript',src='#{base}/js/view.js?v=1')
    body.easyui-layout
        div(region='north', split='true', border='false', style='overflow: hidden; height: 30px;\
            background: url(#{base}/admin/images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;\
            line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体')
            span(style='padding-left:10px; font-size: 16px; ')
                img(src='#{base}/admin/images/blocks.gif', width='20', height='20', align='absmiddle')
                | &nbsp;&nbsp;#{config.cnName}
            span.head(style='float:right; padding-right:30px;')
                a#btnLoginOut(href="#{base}/list", style="margin-left: 10px;", target="_blank") 预览平台
        div(data-options="region:'west',title: '文件夹',tools: [{iconCls: 'icon-reload', handler: function(){ onHandleTree();}}]",style="width:220px;")
            div#divFileTree.easyui-tree
        div(data-options="region:'center'")
            block content
                div#divFileTab.easyui-tabs(style="height: 100%;",fit="true")