doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        link(href="#{base}/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet',type='text/css',href='#{base}/css/readme.css')
        include common/nfile
        title #{title}
    body
        div.readme-body!=content
        script(src="#{base}/js/jquery.min.js")
        script(src="#{base}/bootstrap/js/bootstrap.min.js")
        // real time edit
        if isRealtime
            script(src="#{base}/marked/js/marked.min.js")
            script(src="#{base}/js/readme-realtime.js",type="text/javascript")