link(rel='stylesheet',type='text/css',href='#{base}/admin/css/default.css')
link(rel='stylesheet',type='text/css',href='#{base}/theme/#{setting.theme}/easyui.css')
link(rel='stylesheet',type='text/css',href='#{base}/theme/icon.css')
link(rel='stylesheet',type='text/css',href='#{base}/css/icon.css')
include nfile
script(type='text/javascript',src='#{base}/js/jquery.min.js')
script(type='text/javascript',src='#{base}/js/jquery.easyui.min.js')
script(type='text/javascript',src='#{base}/js/utils.js')